# Default ignored files
toPlot.xlsx
TestData
.vscode
.idea
src/github.com
program logs
certification/ca-cert.pem
certification/ca-cert.srl
certification/ca-key.pem
certification/server-cert.pem
certification/server-key.pem
certification/server-req.pem